*{
	margin: 0;
	padding: 0;
	}
	ul li{
		list-style: none;
	}
	a{
		text-decoration: none;
		color: #888888;
		cursor: pointer;
		
	}
	a:hover{
		  color:#fc4c65 ;
	}
	#header{
		height: 220px;
	}
	#header_top{
		width: 100%;
		height: 36px;
		border-bottom: 1px solid #e5e5e5;
		background: #f2f2f2;
		position: relative;
		}
	.header_box{
		height: 36px;
		background: #f2f2f2;
		line-height: 36px;
		width: 1200px;
		margin: 0 auto;
		font-size: 12px;
	}
	.header_top_left{
		float: left;
	}
	.header_top_left li{
		float: left;
		margin-left: 10px;
	}
	.header_top_right{
		float:right;
		height: 28px;
		position: relative;
	}
	.header_top_right li{
		 float: left;
	}
	.header_center{
		width: 100%;
		clear: both;
		
		background: #fff;
		margin: 0 auto;
	   position: relative;
	   font-size: 12px;
	   font-family: "微软雅黑";
	   border-bottom: 2px solid #fc4c65;
	  
	 
	}	
	.center{
		width: 1200px;
		height: 154px;
		margin: 0 auto;
	    position: relative;
	   
	}
	
	.loge,.kuai,.search,.cart{
		float: left;
	}
	.loge{
		 
		 height: 125px;
		 line-height: 125px;
		 margin-right: 70px;
		 width: 180px;
		 margin-top: 24px;
		 
	}
	.kuai{
		 
		 margin-top: 50px;
		 margin-right: 56px;
	}
	
	
	.footer-t{
		 width: 100%;
		 margin: 0 auto;
		 padding:25px 0px;
		 margin-top: 50px;
		 background: #efefef;
		 height: 120px;
		 
	}
	.footer_add{
		width: 1252px;
		margin: 20px ;
		height: 70px;
		overflow: hidden;
		padding-left:52px;
		margin-left: 140px;
		
	}
	.footer_img_right{
		 float: left;
		 margin-right: 110px;
    }
	.footer_img_right .fl{
		width: 65px;
		height: 65px;
		float: left;
		display: inline-block;
		margin-top: 2px;
		margin-right: 20px;
		
	}	
	
	.footer_img_right a{
		
		font-size: 17px;
		color: #595757;
		
		font-weight: 900;
		font-family: "黑体";
		display: block;
		
		
	}	
	
	.footer_img_right p{
		font-size: 12px;
		color: #595757;
		height: 20px;
		line-height: 20px;
		
	}	
	.ph{
		width:283px;
		height: 70px;
	} 
	.te{
		width: 372px;
		height: 70px;
	}
	.QQ{
		width: 194px;
		height: 70px;
	}
	.help{
		width: 100%;
		clear: both;
		height:150px ;
		

	}
	.help-all{
		width: 1200px;
		margin: 0 auto;
		clear: both;
		position: relative;
		padding-top: 20px;
	}
	
	.FSIntro,dl{
		float: left;
	}
	.help-all .FSIntro{
		width: 418px;
		
		margin-right: 50px;
	}
	.FSIntro p{
		width: 418px;
		height: 96px;
		font-size: 13px;
		line-height: 24px;
		margin-top: 5px;
		
	}
	
	.help-all dl{
		 margin-right: 4px;
	}
	.help-all dt{
		  font-size: 16px;
		  font-family: "黑体";
		  line-height: 30px;
		  width: 118px;
		  font-weight: 900;
		  overflow: hidden;
	}
	.help-all dd{
		  line-height: 24px;
		  width: 118px;
		  overflow: hidden;
		  font-size: 12px;
	}
	.footerlast{
		width: 100%;
		height: 172px;
		
		
	}
	.what{
		width: 1200px;
		margin: 50px auto;
		
	}	
     .what  p{
     	 width: 1200px;
       
         text-align: center;
     	 font-size: 12px;
     	 
     	 
     }  
     .footerlast .img{
     	 width: 1200px;
     	 height: 40px;
     	 margin-left: 300px;
     	 text-align: center;
     	 
     } 
	.footerlast .img p{
		 width:120px;
		 height: 40px;
		 float: left;
		 margin:0 15px;
		
	}
	.dd{
		width: 100%;
		height: 30px;
		background: red;
		
	}
	